---
const { icon, website, username = "", platform } = Astro.props;
---

<style>
  a {
    text-decoration: none;
  }
</style>

<span>
  <img class="social-icons" src={`${icon.src}`} alt={`${website} icon`} />
  <a href={`${website}/${username}`}>{platform}&nbsp;&nbsp;</a>
</span>
